@font-face {
  font-family: 'TTNorms-Regular';
  src: url(~@/assets/fonts/TTNorms-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'TTNorms-Light';
  src: url(~@/assets/fonts/TTNorms-Light.otf) format('opentype');
}

@font-face {
  font-family: 'TTNorms-Italic';
  src: url(~@/assets/fonts/TTNorms-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'TTNorms-Bold';
  src: url(~@/assets/fonts/TTNorms-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'TTNorms-BoldItalic';
  src: url(~@/assets/fonts/TTNorms-BoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'TTNorms-Black';
  src: url(~@/assets/fonts/TTNorms-Black.otf) format('opentype');
}

@font-face {
  font-family: 'TTNorms-BlackItalic';
  src: url(~@/assets/fonts/TTNorms-BlackItalic.otf) format('opentype');
}
